# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.M13.InterviewProject.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Егор\Desktop\Подготовка к собеседованию\Тестовые задания\M13.InterviewProject\.idea\.idea.M13.InterviewProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
